* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter Variable", sans-serif;
}
.container {
  border: 3px solid #f9a924;
  width: 1076px;
  height: 700px;
  display: flex;
  border-radius: 34px;
  margin: 35px auto 0;
}
.left-side {
  width: 465.35px;
  height: 497.11px;
  margin-top: 100px;
}
.right-side {
  margin-top: 100px;
}
.create-heading {
  text-align: center;
}
form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.input-holder {
  position: relative;

  /* display: flex;
  flex-direction: column; */
}
.f-input {
  height: 50px;
  width: 200px;
  border-radius: 6px;
  /* position: absolute;  */
}
.email-input {
  width: 498px;
}
.user {
  position: absolute;
  top: 17px;
  left: 15px;
}
.f-input::placeholder {
  padding-left: 40px;
}
.s-input {
  display: flex;
  justify-content: space-between;
}
.s-input input {
  width: 230px;
}
.user {
  color: gray;
}
.email-icon {
  font-size: 20px;
}
.account {
  width: 498px;
  height: 51px;
  padding: 10px;
  border: 1px solid grey;
  border-radius: 39px;
  gap: 10px;
  font-size: 16px;
  background-color: #3729d6;
  color: white;
  font-weight: 600;
  cursor: pointer;
}
.hr {
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: space-around;
}
.rule {
  width: 12em;
  height: 1px;
  border: 1px solid black;
}
.social {
  text-decoration: none;
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border: 1px solid black;
  height: 50px;
  border-radius: 25px;
  color: black;
}
.social:hover {
  background-color: #f9a924;
}
.social-icon {
  font-size: 1.8em;
  color: #1877f2;
}
.social-text {
  font-weight: 600;
}
